<ion-header>
  <ion-toolbar><ion-title>About Us</ion-title></ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/emgie.jpg" />
    <ion-card-header>
      <ion-card-title>Emgie Guieb</ion-card-title>
      <ion-card-subtitle>Mobile Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This project helped me understand Ionic, Angular, and API integration.
    </ion-card-content>
  </ion-card>
    <ion-card>
    <img src="assets/piolo.jpg" />
    <ion-card-header>
      <ion-card-title>Piolo Merin</ion-card-title>
      <ion-card-subtitle>Mobile Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This project helped me understand Ionic, Angular, and API integration.
    </ion-card-content>
  </ion-card>
    <ion-card>
    <img src="assets/ed.jpg" />
    <ion-card-header>
      <ion-card-title>Ed Zyrile Labiano</ion-card-title>
      <ion-card-subtitle>Mobile Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This project helped me understand Ionic, Angular, and API integration.
    </ion-card-content>
  </ion-card>
</ion-content>